In [51]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler,Imputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier

In [52]:
df1 = pd.read_csv("datasets/titanic_train.csv")
df2 = pd.read_csv("datasets/titanic_test.csv")

In [53]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [54]:
del df1['PassengerId']
del df1['Ticket']
del df1['Cabin']
del df1['Fare']
del df1['Name']

In [55]:
df1.isnull().any()

Survived    False
Pclass      False
Sex         False
Age          True
SibSp       False
Parch       False
Embarked     True
dtype: bool

In [56]:
type(df1.values)

numpy.ndarray

In [57]:
labelEncoder = LabelEncoder()
df1.Sex = labelEncoder.fit_transform(df1.Sex)
df1.Embarked = labelEncoder.fit_transform(df1.Embarked)

/home/parmeet/anaconda2/lib/python2.7/site-packages/numpy/lib/arraysetops.py:200: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

In [58]:
imp = Imputer(missing_values='NaN',strategy='mean')
df1.Age = imp.fit_transform(df1.Age.values.reshape(-1,1))

In [59]:
imp = Imputer(missing_values='NaN',strategy='median')
df1.Embarked = imp.fit_transform(df1.Embarked.values.reshape(-1,1))

In [60]:
onehot = OneHotEncoder(categorical_features=[2],sparse=False)

In [61]:
X = onehot.fit_transform(df1)

In [62]:
reg = RandomForestClassifier(n_estimators=100)
y = X[:,0]
X = X[:,1:]

In [63]:
del df2['PassengerId']
del df2['Ticket']
del df2['Cabin']
del df2['Fare']
labelEncoder = LabelEncoder()
df2.Sex = labelEncoder.fit_transform(df2.Sex)
df2.Embarked = labelEncoder.fit_transform(df2.Embarked)
imp = Imputer(missing_values='NaN',strategy='mean')
df2.Age = imp.fit_transform(df2.Age.values.reshape(-1,1))
imp = Imputer(missing_values='NaN',strategy='median')
df2.Embarked = imp.fit_transform(df2.Embarked.values.reshape(-1,1))

In [64]:
del df2['Name']

In [65]:
onehot = OneHotEncoder(categorical_features=[1],sparse=False)
Xtest = onehot.fit_transform(df2)

In [66]:
Xtest[0,:]

array([  0. ,   1. ,   3. ,  34.5,   0. ,   0. ,   1. ])

In [67]:
dfTT  = pd.read_csv('datasets/titanic_train.csv')
y = dfTT.Survived.values
reg.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [68]:
ypred = reg.predict(Xtest)
ypred = [not y for y in ypred]
ypred = np.asarray(ypred)

In [69]:
dftemp = pd.read_csv("datasets/titanic_test.csv")
output = np.hstack((dftemp.PassengerId.values.reshape(-1,1),ypred.reshape(-1,1)))

In [70]:
np.savetxt("titanic_output.csv", output, delimiter=",",fmt='%d')