In [20]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler,Imputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [2]:
df1 = pd.read_csv("datasets/titanic_train.csv")
df2 = pd.read_csv("datasets/titanic_test.csv")

In [10]:
df1.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
del df1['PassengerId']
del df1['Ticket']
del df1['Cabin']
del df1['Fare']
del df1['Embarked']

In [18]:
df1.isnull().any()

Survived    False
Pclass      False
Sex         False
Age          True
SibSp       False
Parch       False
dtype: bool

In [30]:
type(df1.values)

numpy.ndarray

In [32]:
labelEncoder = LabelEncoder()
df1.Sex = labelEncoder.fit_transform(df1.Sex)

In [36]:
imp = Imputer(missing_values='NaN',strategy='mean')
df1.Age = imp.fit_transform(df1.Age.values.reshape(-1,1))

In [41]:
df1.head()

   Survived  Pclass  Sex   Age  SibSp  Parch
0         0       3    1  22.0      1      0
1         1       1    0  38.0      1      0
2         1       3    0  26.0      0      0
3         1       1    0  35.0      1      0
4         0       3    1  35.0      0      0

In [44]:
onehot = OneHotEncoder(categorical_features=[2],sparse=False)

In [67]:
X = onehot.fit_transform(df1)
type(temp)

numpy.ndarray

In [68]:
reg = LogisticRegression()
y = X[:,0]
X = X[:,1:]

array([  1.,   0.,   3.,  22.,   1.,   0.])

In [71]:
del df2['PassengerId']
del df2['Ticket']
del df2['Cabin']
del df2['Fare']
del df2['Embarked']
labelEncoder = LabelEncoder()
df2.Sex = labelEncoder.fit_transform(df2.Sex)
imp = Imputer(missing_values='NaN',strategy='mean')
df2.Age = imp.fit_transform(df2.Age.values.reshape(-1,1))

In [72]:
df2.head()

,Pclass,Name,Sex,Age,SibSp,Parch
0,3,"Kelly, Mr. James",1,34.5,0,0
1,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0
2,2,"Myles, Mr. Thomas Francis",1,62.0,0,0
3,3,"Wirz, Mr. Albert",1,27.0,0,0
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1

In [73]:
del df2['Name']

In [74]:
df2.head()

   Pclass  Sex   Age  SibSp  Parch
0       3    1  34.5      0      0
1       3    0  47.0      1      0
2       2    1  62.0      0      0
3       3    1  27.0      0      0
4       3    0  22.0      1      1

In [75]:
onehot = OneHotEncoder(categorical_features=[1],sparse=False)
Xtest = onehot.fit_transform(df2)

In [79]:
Xtest[0,:]

array([  0. ,   1. ,   3. ,  34.5,   0. ,   0. ])

In [119]:
dfTT  = pd.read_csv('datasets/titanic_train.csv')
y = dfTT.Survived.values
reg.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [132]:
ypred = reg.predict(Xtest)
ypred = [not y for y in ypred]
ypred = np.asarray(ypred)

In [133]:
dftemp = pd.read_csv("datasets/titanic_test.csv")
output = np.hstack((dftemp.PassengerId.values.reshape(-1,1),ypred.reshape(-1,1)))

In [135]:
np.savetxt("titanic_output.csv", output, delimiter=",",fmt='%d')