In [88]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler,Imputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [89]:
df1 = pd.read_csv("datasets/titanic_train.csv")
df2 = pd.read_csv("datasets/titanic_test.csv")

In [90]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [91]:
del df1['PassengerId']
del df1['Ticket']
del df1['Cabin']
del df1['Fare']
del df1['Embarked']

In [92]:
df1.isnull().any()

Survived    False
Pclass      False
Name        False
Sex         False
Age          True
SibSp       False
Parch       False
dtype: bool

In [93]:
type(df1.values)

numpy.ndarray

In [94]:
labelEncoder = LabelEncoder()
df1.Sex = labelEncoder.fit_transform(df1.Sex)

In [95]:
imp = Imputer(missing_values='NaN',strategy='mean')
df1.Age = imp.fit_transform(df1.Age.values.reshape(-1,1))

In [96]:
onehot = OneHotEncoder(categorical_features=[2],sparse=False)

In [97]:
del df1['Name']
X = onehot.fit_transform(df1)

In [98]:
reg = LogisticRegression()
y = X[:,0]
X = X[:,1:]

In [99]:
del df2['PassengerId']
del df2['Ticket']
del df2['Cabin']
del df2['Fare']
del df2['Embarked']
labelEncoder = LabelEncoder()
df2.Sex = labelEncoder.fit_transform(df2.Sex)
imp = Imputer(missing_values='NaN',strategy='mean')
df2.Age = imp.fit_transform(df2.Age.values.reshape(-1,1))

In [100]:
del df2['Name']

In [101]:
onehot = OneHotEncoder(categorical_features=[1],sparse=False)
Xtest = onehot.fit_transform(df2)

In [102]:
Xtest[0,:]

array([  0. ,   1. ,   3. ,  34.5,   0. ,   0. ])

In [107]:
dfTT  = pd.read_csv('datasets/titanic_train.csv')
y = dfTT.Survived.values
reg.fit(X,y)
ytrainpred = reg.predict(X)
from sklearn.metrics import confusion_matrix
matrix  = confusion_matrix(y,ytrainpred)
print(matrix)
tp = matrix[1,1]
fp = matrix[0,1]
fn = matrix[1,0]
print(1.0*tp/(tp+fp))

[[549   0]
 [  0 342]]
1.0

In [104]:
ypred = reg.predict(Xtest)
ypred = [not y for y in ypred]
ypred = np.asarray(ypred)

In [105]:
dftemp = pd.read_csv("datasets/titanic_test.csv")
output = np.hstack((dftemp.PassengerId.values.reshape(-1,1),ypred.reshape(-1,1)))

In [106]:
np.savetxt("titanic_output.csv", output, delimiter=",",fmt='%d')